
body {
    font-family: 'Helvetica', sans-serif;
    background-color: #f4e1d2; /* Light cappuccino */
    color: black; /* Darker cappuccino 3e2c41*/
    margin: 0;
    padding: 0;
}
header {
    background-color: #d2b09c; /* Medium cappuccino */
    position: static;
    text-align: center;
    padding: 0 20;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 20px;
}
.TopButtons li a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 5px;
    background-color: #8b5e3b;
    transition: 2s;
}
.TopButtons li:hover {
    transform: rotate(-10deg);
    background-color: #6b3f2c;
}
main {
    padding: 40px;
    text-align: center;
}
footer {
    background-color: #3e2c41;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;

}
.logo{
    width: auto;
    height: 70px;
}
.name-web{
    display: flex;
    align-items: center;
}
.name-page{
    padding-left: 10px;
    font-size: larger;
    font-family: Brush Script MT, Brush Script Std, cursive ;
    font-size: 30px;
}
.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-slider {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 500px auto 100%;
    position: relative;
    border-radius: 25px;
}
.slider-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    
}
.slider-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures images fit without distortion */
    flex-shrink: 0;
    
}
.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 25px;
}
.Heads{
    font-family: 'Monaco', sans-serif;
}
.AboutUs{
    padding: 10px 0;
    text-align: left;
}
.PositionOnMapCus{
    width: 45vw; 
    max-width: 350px; 
    aspect-ratio: 1 / 1; 
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.PositionOnMap {
    display: flex;
    justify-content: left; 
}

.PositionOnMap iframe {
    width: 100%;
    height: 100%;
    border: none;
}
.prev { left: 10px; }
.next { right: 10px; }