{% extends '_base.html' %}

{% block content %}
<h2>Book Your Stay</h2>
<div class="book">
    <form method="POST" action="{{ url_for('register') }}" class="form">
        {{ form.hidden_tag() }}
        <p>{{ form.first_name.label }} {{ form.first_name() }}</p>
        <p>{{ form.last_name.label }} {{ form.last_name() }}</p>
        <p>{{ form.cat_name.label }} {{ form.cat_name() }}</p>
        <p>{{ form.telephone.label }} {{ form.telephone() }}</p>
        <p>{{ form.email.label }} {{ form.email() }}</p>
        <p>{{ form.from_date.label }} {{ form.from_date() }}</p>
        <p>{{ form.to_date.label }} {{ form.to_date() }}</p>
        <p>{{ form.room.label }} {{ form.room() }}</p>
        <p>{{ form.submit() }}</p>
    </form>

    <div id="room-image-container">
        <img id="room-image" src="{{ url_for('static', filename='css/imgs/defRoom.jpg') }}" alt="Room Preview">
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'confirmation' %}
                    <div id="confirmation-message" style="border: 1px solid #ccc; padding: 10px; margin: 10px 0;">
                        <p>{{ message }}</p>
                        <!-- Yes button to generate PDF -->
                        <form method="POST" action="{{ url_for('generate_pdf') }}" style="display:inline;">
                            <button type="submit" id="yes-button">Yes</button>
                        </form>
                        <!-- No button to go back to home page -->
                        <button id="no-button" onclick="redirectToHome()">No</button>
                    </div>
                {% else %}
                    <p>{{ message }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<script type="text/javascript">
    function redirectToHome() {
        window.location.href = "{{ url_for('home') }}";
    }
</script>

{% endblock %}
