{% extends '_base.html' %}
{% block content %}
<h2>Book Your Stay</h2>
<form method="POST" action="{{ url_for('register') }}" class="booking-form">
    {{ form.hidden_tag() }}
    <p>{{ form.first_name.label }} {{ form.first_name() }}</p>
    <p>{{ form.last_name.label }} {{ form.last_name() }}</p>
    <p>{{ form.cat_name.label }} {{ form.cat_name() }}</p>
    <p>{{ form.telephone.label }} {{ form.telephone() }}</p>
    <p>{{ form.email.label }} {{ form.email() }}</p>
    <p>{{ form.from_date.label }} {{ form.from_date() }}</p>
    <p>{{ form.to_date.label }} {{ form.to_date() }}</p>
    <p>{{ form.room.label }} {{ form.room() }}</p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}